<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB Home Page</title>
</head>

<body>
    <h1>DB Home Page</h1>
    {% if users %}
    {% for user in users %}
    <div>{{user.name}} - {{user.age}} <a href="/edit/{{user.id}}">Edit</a> | <a href="/delete/{{user.id}}">Delete</a>
    </div>
    {% endfor %}
    {% else %}
    <p>There is no data to show. <a href="{{url_for('create_user')}}">create new</a></p>
    {% endif %}

</html>