<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>

  <body>
    <form method="post">
      <label for="name">Name: </label>
      <input type="text" placeholder="Enter your name" name="name" />
      <br />
      <label for="message">Message: </label>
      <textarea
        name="message"
        id="message"
        cols="20"
        rows="4"
        placeholder="Enter your message"
      ></textarea>

      <button type="submit">Submit</button>
    </form>

    {% if error %}
    <p style="color: red;">*{{error}}</p>
    {% endif %}
  </body>
</html>
